<section class="login flex justify-center py-32">
    <div class="w-full max-w-lg">
        <form actions="/register" method="POST" class="bg-white shadow-md rounded px-8 py-6 mb-4">
            <% if(messages.error){ %>
            <span class="text-red-500 font-bold text-xs"><%= messages.error %></span>
            <% } %>
            <div class="mb-4">
                <label class="block text-grey-700 text-lg font-bold mb-2" for="name" style="color:#777;">Name</label>
                <input name="name" value="<%= messages.name %>"
                class="shadow appearence-none border rounded w-full py-2 px-3 text-grey-700 leading-tight fpcus:outline-none focus:shadow-outline"
                id="username" type="text" placeholder="enter your name" >
            </div>
            <div class="mb-4">
                <label class="block text-grey-700 text-lg font-bold mb-2" for="username" style="color:#777;">Email</label>
                <input name="email" value="<%= messages.email %>"
                class="shadow appearence-none border rounded w-full py-2 px-3 text-grey-700 leading-tight fpcus:outline-none focus:shadow-outline"
                id="username" type="text" placeholder="enter your email" >
            </div>
            <div class="mb-6">
                <label class="block text-grey-700 text-lg font-bold mb-2" for="password" style="color:#777">Password</label>
                <input name="password"
                class="shadow appearence-none border rounded w-full py-2 px-3 text-grey-700 leading-tight fpcus:outline-none focus:shadow-outline"
                id="password" type="password" placeholder="*****************" >
                
            </div>
            <div class="flex items-center justify-between my-6">
                <button class="cursor-pointer px-20 py-2 text-white font-bold btn-primary  rounded focus:outline-none focus:shadow-outline" type="submit">
                    Register
                </button>
                <a class="inline-block align-baseline font-bold text-sm" href="/login">
                    Already have account?
                </a>
            </div>

        </form>
    </div>
</section> 